#inputBox5{
    width: 370px;
    background: white;
    padding: 30px;
    border-radius: 13px;
    margin: 80px 6%;
    min-width: 330px;
    box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.04);
    display: inline-block;
    position: relative;
    height: 260px;
}

@media screen and (max-width: 768px) {
    #inputBox5{
        display: block;
        width: 80%;
        margin-left: 5%;
        border-radius: 8px;
        margin-top: 0px;
        
    }  
}

@media screen and (min-width: 769px) and (max-width: 1044px) {
    #inputBox5{
        width: 30%;
    }
}



@media only screen and (max-device-width: 768px) {
    #inputBox5{
        display: block;
        width: 92%;
        margin-left: 4%;
        border-radius: 8px;
        margin-top: 120px;
        box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.04);
        height: 600px;
        box-sizing: border-box;
    }
}