

#inputBox{
    width: 390px;
    background: white;
    padding: 30px;
    border-radius: 13px;
    margin: 80px 6%;
    min-width: 330px;
    box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.04);
    display: inline-block;
    position: relative;
}

.dv1{
    width: 100%;
}

.inp1{
    margin-top: 30px;
}

.inp2{
    display: block;
    width: 100%;
    margin-top: 30px;
}

.inp2:hover{
    transition: 0.2s;
    background-color: rgb(100, 149, 255);
}

#description{
    display: inline-block;
    margin-top: 80px;
    
    width: 63%;
    left: 540px;
    position: absolute;
    padding: 30px;
}


.mainDiv{
    height: 100%;
    margin-top: 50px;
}

.mainDiv{
    min-height: 555px;
    height:auto;
}

@media screen and (max-width: 768px) {
    #inputBox{
        display: block;
        width: 80%;
        margin-left: 10%;
        border-radius: 8px;
        margin-top: 50px;
    }
    
    #description{
        display: block;
        position: relative;
        left: 10%;
        width: 80%;
    }
}

@media screen and (min-width: 1225px) and (max-width: 1400px) {
    #description{
        width: 40%;
    }
}

@media screen and (min-width: 960px) and (max-width: 1224px) {
    #description{
        width: 40%;
    }
}

@media screen and (min-width: 769px) and (max-width: 960px) {
    #description{
        width: 30%;
        left: 500px;
    }
}