@font-face {
    font-family: 'nunito';
    src: url('./Nunito.ttf');
}

#newInputBox{
    width: 400px;
    background: url('./bg9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    border-radius: 13px;
    margin: 180px 6%;
    min-width: 330px;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: relative;
    height: 235px;
}

#newInputBoxU{
    width: 370px;
    background: url('./bg9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    margin: 180px 6%;
    min-width: 330px;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: relative;
    height: 215px;    
    border-radius: 13px;
}

#keyboard{
    width: 100%;
    margin-top: 38px;
    display: none;
    position: relative;
    left: 0px;
    opacity: 1;
}

#newInputBox:hover #keyboard{
    display: block;
    
}

#newInputBoxU:hover #keyboard{
    display: block;
}

.inputButtonN{
    width: 9.7%;
    height: 25px;
    margin-left: 0.25%;
    margin-top: 1px;
    border-style: none;
    background: #003757;
    color: white;
    border-radius: 3px;
    font-size: 20px;
}

.inputButton{
    width: 10.8%;
    height: 25px;
    margin-left: 0.25%;
    margin-top: 1px;
    border-style: none;
    background: #003757;
    color: white;
    border-radius: 3px;
    font-size: 20px;
}

.inputButton:hover{
    background: #00273d;
    cursor: pointer;
}

.inputButtonN:hover{
    background: #00273d;
    cursor: pointer;
}

#showPassword{
    color: rgb(141, 141, 141);
    font-size: 13px;
    margin-top: 12px;
    margin-left: 3px;
}

#inputBox{
    width: 370px;
    background: url('./bg9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    border-radius: 13px;
    margin: 180px 6%;
    min-width: 330px;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: relative;
    height: 230px;
}

#inputBox1{
    height: 150px;
    width: 370px;
    background: url('./bg9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    border-radius: 13px;
    margin: 180px 6%;
    min-width: 330px;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: relative;
}

#inputBox2{
    width: 380px;
    background: url('./bg9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    border-radius: 13px;
    margin: 180px 6%;
    min-width: 330px;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: relative;
    height: 260px;
}

#inputBox3{
    width: 380px;
    background: url('./bg9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    border-radius: 13px;
    margin: 180px 6%;
    min-width: 330px;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: relative;
    height: 210px;
}

#inputBox4{
    width: 380px;
    background: url('./bg9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    border-radius: 13px;
    margin: 180px 6%;
    min-width: 330px;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: relative;
    height: 150px;
}


.dv1{
    width: 100%;
}

.inp1{
    height: 45px;
    width: 100%;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    font-size: 16px;
    border-radius: 8px;
    -moz-outline-radius: 3px;
    margin-top: 15px;
    box-sizing: border-box;
}

.inp2{
    display: block;
    width: 100%;
    height: 38px;
    color: white;
    margin-top: 15px;
    border-style: none;
    border-radius: 7px;
    font-size: 17px;
}

#getCode1{
    background: #003757;
    width: 100%;

}
#getCode1:hover{
    background-color: #00273d;
}

#titleBox{

    font-family: nunito;
    font-weight: bold;
    font-size: 25px;
}

.inp2:hover{
    transition: 0.2s;
    background-color: rgb(100, 149, 255);
}

#description11{
    display: block;
    font-family: nunito;
    width: 80%;
    padding: 30px;
    min-height: 150px;
    position: relative;
    font-size: 18px;
    margin-left: 6%;
}

#mainPageLogo{
    width: 200px;
    height: 200px;
    margin-top: 50px;
}

.descP{
    width: 100%;
    display: block;
    margin-top: 30px;
}

.mainDiv{
    height: 100%;
    margin-top: 50px;
    height: 50px;
}

.mainDiv{
    min-height: 555px;
    height:auto;
}

#DescriptionBox{
    margin-top: 180px;

}

#recovery{
    text-decoration: none;
    position: relative;
    top: 19px;
    color: #003757;
    font-size: 17px;
}

#notif{
    position: fixed;
    top: 120px;
    width: 40%;
    left: 30%;
    text-align: center;
    background: rgb(68, 68, 255);
    padding: 40px 0px;
    border-radius: 30px;
    color: white;
    transition: 0.6s;
    display: none;
    z-index: 10;
}

.about{
    font-weight: bolder;
    font-size: 35px;
}

#homeImage{
    display: inline-block;
    width: 400px;
    height: 300px;
    margin-left: 10%;
    position: absolute;
    top: 230px;
    background: url('./Data-Protection.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.loadingCircle{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 5px;
    border-radius: 40px;
}

@media screen and (min-width: 769px) and (max-width: 1044px) {
    #inputBox{
        width: 30%;
    }
    #inputBox1{
        width: 30%;
    }
    #inputBox2{
        width: 30%;
    }
    #inputBox3{
        width: 30%;
    }
    #inputBox4{
        width: 30%;
    }
    #description11{
        display: block;
        font-family: nunito;
        width: 80%;
        padding: 30px;
        min-height: 150px;
        position: relative;
        font-size: 18px;
        margin-left: 6%;
    }
    #homeImage{
        display: inline-block;
        width: 400px;
        height: 300px;
        margin-left: 0%;
        position: absolute;
        top: 230px;
        background: url('./Data-Protection.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 768px) {

    #newInputBox{
        width: 80%;
        background: url('./bg9.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30px;
        border-radius: 13px;
        margin: 0px 4%;
        min-width: 330px;
        box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
        display: inline-block;
        position: relative;
        height: 225px;
    }

    #keyboard{
        width: 100%;
        margin-top: 28px;
        display: none;
        position: relative;
        left: 0px;
        opacity: 1;
    }

    #newInputBoxU{
        width: 80%;
        background: url('./bg9.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30px;
        border-radius: 13px;
        margin: 0px 3.8%;
        min-width: 330px;
        box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
        display: inline-block;
        position: relative;
        height: 195px;
    }

    #inputBox{
        display: block;
        width: 80%;
        margin-left: 5%;
        border-radius: 8px;
        margin-top: 50px;
        
    }
    #inputBox1{
        display: block;
        width: 80%;
        margin-left: 5%;
        border-radius: 8px;
        margin-top: 50px;
        
    }
    #inputBox2{
        display: block;
        width: 80%;
        margin-left: 5%;
        border-radius: 8px;
        margin-top: 50px;
        
    }
    #inputBox3{
        display: block;
        width: 80%;
        margin-left: 5%;
        border-radius: 8px;
        margin-top: 50px; 
    }
    #inputBox4{
        display: block;
        width: 80%;
        margin-left: 5%;
        border-radius: 8px;
        margin-top: 50px; 
    }
    #description11{
        display: block;
        font-family: nunito;
        width: 80%;
        padding: 30px;
        min-height: 150px;
        position: relative;
        font-size: 18px;
        margin-left: 6%;
    }

    #homeImage{
        display: block;
        width: 400px;
        height: 300px;
        margin-left: 0%;
        position: relative;
        margin-left: 50px;
        top: 50px;
        background: url('./Data-Protection.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    #notif{
        top:70px
    }

    #description11{
        display: block;
        height: 480px;
        height: 0px;
    }
    
    #mainPageLogo{
        display: none;
    }
    
}

@media only screen and (max-device-width: 768px) {

    #keyboard{
        display: none;
    }
    
    #inputBox{
        display: block;
        width: 86%;
        margin-left: 4%;
        border-radius: 8px;
        margin-top: 120px;
        box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.04);
        height: 515px;
        background: url('./bg9.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    }
    
    #inputBox1{
        display: block;
        width: 86%;
        margin-left: 4%;
        border-radius: 8px;
        margin-top: 120px;
        box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.04);
        height: 340px;
        background: url('./bg9.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    }
    
    #inputBox2{
        display: block;
        width: 86%;
        margin-left: 4%;
        border-radius: 8px;
        margin-top: 120px;
        box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.04);
        height: 570px;
        background: url('./bg9.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    }
    
    #inputBox3{
        display: block;
        width: 86%;
        margin-left: 4%;
        border-radius: 8px;
        margin-top: 120px;
        box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.04);
        height: 450px;
        background: url('./bg9.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    }
    
    #inputBox4{
        display: block;
        width: 86%;
        margin-left: 4%;
        border-radius: 8px;
        margin-top: 120px;
        box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.04);
        height: 350px;
        background: url('./bg9.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    }
    
    .inp1{
        height: 90px;
        font-size: 40px;
        border-width: 3px;
        border-radius: 17px;
        margin-top: 20px;
        position: relative;
        top: 20px;
    }
    
    .inp2{
        height: 80px;
        font-size: 40px;
        border-style: none;
        color: white;
        border-radius: 20px;
        margin-top: 50px;
        position: relative;
        top:20px
    }
    
    #titleBox{
        font-size: 40px;
        font-family: nunito;
        font-weight: bold;
    }
    #description11{
        display: block;
        font-family: nunito;
        width: 80%;
        padding: 30px;
        min-height: 150px;
        position: relative;
        font-size: 28px;
        margin-left: 6%;
    }

    #homeImage{
        display: block;
        width: 600px;
        height: 450px;
        position: relative;
        margin-left: 170px;
        top: 50px;
        background: url('./Data-Protection.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    #notif{
        top: 160px;
        width: 70%;
        left: 15%;
        font-size: 50px;
        padding: 100px 0px;
    }
    .about{
        font-weight: bold;
    }
    #recovery{
        font-size: 40px;
        top: 55px;
    }
    
    #newInputBox{
        width: 88%;
        background: url('./bg9.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
        padding: 30px;
        border-radius: 13px;
        margin: 80px 6%;

        display: inline-block;
        position: relative;
        height: 560px;
        box-sizing: border-box;
    }

    #newInputBox:hover #keyboard{
        display: block;
    }    
    
    #newInputBoxU:hover #keyboard{
        display: block;
    }

    #newInputBoxU{
        width: 88%;
        background: url('./bg9.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30px;
        border-radius: 13px;
        margin: 80px 6%;
        box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
        display: inline-block;
        position: relative;
        height: 500px;
        box-sizing: border-box;
    }
    
    #keyboard{
        width: 100%;
        margin-top: 60px;
    }
    
    .inputButtonN{
        width: 9.7%;
        height: 85px;
        margin-left: 0.25%;
        margin-top: 1px;
        border-style: none;
        background: #003757;
        color: white;
        border-radius: 3px;
        font-size: 40px;
    }
    
    .inputButton{
        width: 10.8%;
        height: 85px;
        margin-left: 0.25%;
        margin-top: 1px;
        border-style: none;
        background: #003757;
        color: white;
        border-radius: 3px;
        font-size: 40px;
    }
    
    .topbtn{
        margin-top: 20px;

    }
    
    #mainPageLogo{
        display: none;
    }
    
    .loadingCircle{
        width: 25px;
        height: 25px;
        display: inline-block;
        margin-left: 12px;
        border-radius: 40px;
    }
}