@font-face {
    font-family: 'lustra';
    src: url('./Lustramd.otf');
}

@font-face {
    font-family: 'nunito';
    src: url('./Nunito.ttf');
}


header{
    position: absolute;
    width: 100%;
    height: 140px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.08);
    z-index: 1;
    background: white;
    background-color: #003757;
    color: white;
}

#pasLink{
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 1;
    font-family: lustra;
    font-size: 40px;
}

#psolp{
    display: inline-block;
    font-family: nunito;
    margin-left: 172px;
    font-size: 18px;
}


#ju{
    padding: 30px 40px;
    position: absolute;
    top: 27px;
    float: right;
    right: 50px;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    font-family: nunito;
    font-size: 17px;
    min-width: 150px;
    text-decoration: none;
    color: white;
}

#ju:hover{
    background-color: rgb(0, 30, 68);
    transition: 0.2s;
    cursor: pointer;
}

#pas{
    position: relative;
    margin: 12px 80px;
    display: inline-block;
    display: block;
}

.navLink{
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    border-radius: 18px;
    position: relative;
    top: 25px;
    font-family: nunito;
    font-size: 17px;
    margin-left: 10px;
}

.navLink p{
    display: inline-block;
}

.navLink:hover{
    background-color: rgb(0, 30, 68);
    transition: 0.2s;
    color: white;
}

#menuBox{
    direction: ltr;
    margin-left: 60px;
    
}


#menu{
    display: none;
}

@media screen and (max-width:1044px){
    #ju{
        display: none;
    }
}

@media screen and (max-width:768px){

    #psolp{
        display: none;
    }

    header{
        position: relative;
        opacity: 1;
        height: 90px;
    }
    
    #menu{
        display: block;
    }

    .firstLink{
        margin-right: 0px;
    }
    
    #pas{
        width: 100%;
        text-align: center;
        margin: 12px 0px;
        
    }

    #pasLink{
        font-size: 70px;
    }
    
    #menuBox{
        position: absolute;
        top: 17px;
        direction: ltr;
        color: black;
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
        
    }
    #menu{
        position: absolute;
        text-align: center;
        border-radius: 20px;
        padding: 10px 13px;
        text-align: center;        
        left: 0%;

        margin-left: 20px;
        font-size: 35px;
        color: white;
    }
    #menuBox:hover #menuItems{
        display: inline-block;
    }
    #menuItems{
        display: none;
        position: relative;
        background-color: rgb(0, 27, 77);
        top: 40px;
        border-radius: 2px;
        overflow: hidden;
        width: 100%;
        
    }
    .navLink{
        padding: 10px;
        display: block;
        border-radius: 0px;
        top: 0px;
        margin: 0px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: rgb(0, 0, 0);
        color: white;
        padding: 14px 14px;
    }
}

@media only screen and (max-device-width:768px){
    #psolp{
        display: none;
    }

    header{
        position: relative;
        opacity: 1;
        height: 90px;
        top: -10px;
    }
    
    #menu{
        display: block;
    }

    .firstLink{
        margin-right: 0px;
    }
    
    #pas{
        width: 100%;
        text-align: center;
        margin: 12px 0px;
        
    }

    #pasLink{
        font-size: 70px;
    }
    
    #menuBox{
        position: absolute;
        top: 17px;
        direction: ltr;
        color: black;
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
        
    }
    #menu{
        position: absolute;
        text-align: center;
        border-radius: 20px;
        padding: 10px 13px;
        text-align: center;        
        left: 0%;

        margin-left: 20px;
        font-size: 40px;
        color: white;
    }
    #menuBox:hover #menuItems{
        display: inline-block;
    }
    #menuItems{
        display: none;
        position: relative;
        background-color: rgb(0, 27, 77);
        top: 70px;
        border-radius: 2px;
        overflow: hidden;
        width: 100%;
        
    }
    .navLink{
        padding: 10px;
        display: block;
        border-radius: 0px;
        top: 0px;
        margin: 0px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: rgb(0, 0, 0);
        color: white;
        padding: 18px 35px;
        font-size: 30px;
    }

}