#inputBox6{
    width: 370px;
    padding: 30px;
    border-radius: 13px;
    margin: 180px 6%;
    min-width: 330px;
    background: url('./../Home/bg9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: relative;
    height: 140px;
}

@media screen and (max-width: 768px) {
    #inputBox6{
        display: block;
        width: 80%;
        margin-left: 5%;
        border-radius: 8px;
        margin-top: 0px;
        
    }  
}

@media screen and (min-width: 769px) and (max-width: 1044px) {
    #inputBox6{
        width: 30%;
    }
}



@media only screen and (max-device-width: 768px) {
    #inputBox6{
        display: block;
        width: 92%;
        margin-left: 4%;
        border-radius: 8px;
        margin-top: 120px;
        box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
        height: 400px;
        box-sizing: border-box;
    }
}